app-forecastcapital {
    display:block !important;
}


.capitais {

    .capitais__title {
        color:white;
    }

    .capitais__table th {
        font-weight: normal;
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }

    .capitais__table td {
        font-weight: bold;
        font-size: 1rem;
    }

}